body {
  font-family: Poppins;
  background: #443120;
}

.container {
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 58px;
}

h3 {
  font-size: 48px;
  font-weight: 200;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../src/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.826);
  padding-top: 220px;
  padding-bottom: 180px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #443120;
  padding: 16px 32px;
  background-color: white;
  border-radius: 2px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 18px;
  }
  header a {
    font-size: 12px;
    padding: 8px 16px;
  }
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../src/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.826);
  padding: 100px;
}
